<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka%20One">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <title>Aggaveld</title>
</head>

<body>
    <div class="topnav">
        <img target="topnav" src="/Sources/Img/logo.png" alt="aggaveld" style="width:10%;height:10%;">
        <div>AGGAVELD </div>
    </div>
    <nav>
        <div><a href="index">HOME</a></div>
        <div><img src="/Sources/Img/glitch.png"></div>
        <div><a href="field">THE FIELD</a></div>
        <div><img src="/Sources/Img/glitch.png"></div>
        <div><a href="line">UPCOMING</a></div>
        <div><img src="/Sources/Img/glitch.png"></div>
        <div><a href="FAQ">FAQ</a></div>
        <div><img src="/Sources/Img/glitch.png"></div>
        <div><a href="account">ACCOUNT</a></div>

    </nav>

   @RenderBody()

    <footer>
        <div><a target="foot" href="#">Contact us</a></div>
        <div><a target="foot" href="#">Apply</a></div>
        <div><a target="foot" href="#">News</a></div>
        <div><a target="foot" href="#">FAQ</a></div>
        <div><a target="foot" href="#">Tickets</a></div>
        <div><a target="foot" href="#">Line-up</a></div>
    </footer>
</body>

</html>