<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka%20One">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @RenderSection("style", false)
    <title>Aggaveld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="topnav">
        <img target="topnav" src="/Sources/Img/logo.png" alt="aggaveld">
        <p>AGGAVELD</p>
    </div>
    <nav class="midnav">
        <div><a href="/">HOME</a></div>
        <div class="glitch"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="upcoming">UPCOMING</a></div>
        <div class="glitch"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="field">THE FIELD</a></div>
        <div class="glitch"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="contact">CONTACT</a></div>

    </nav>

    @RenderBody()

    @*<footer>
        <div><a href="FAQ">FAQ</a></div>
        <div><a href="upcoming">Line-up</a></div>
        <div><a href="contact">Contact us</a></div>
    </footer>*@

    <footer>
      <!-- Footer main -->
      <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">The Field</h2>
          <ul>
            <li><a href="#">About Aggaveld</a></li>
            <li><a href="#">Aftermovies</a></li>
            <li><a href="#">Frequently Asked Question</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contact</h2>
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Frequently asked questions</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">About us</h2>
            <ul>
                <li>Mailaddress<em>: 110041@st-maartenscollege.nl</em></li>
                <li>Mailaddress<em>: 110127@st-maartenscollege.nl</em></li>
            </ul>
        </div>
      </section>
     
      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </section>
     
      <!-- Footer legal -->
      <section class="ft-legal">
        <ul class="ft-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>&copy; 2019 Copyright Nowrap Inc.</li>
        </ul>
      </section>
    </footer>
</body>

</html>