<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka%20One">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @RenderSection("style", false)
    <title>Aggaveld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="topnav">
        <img target="topnav" src="/Sources/Img/logo.png" alt="aggaveld">
        <p>AGGAVELD</p>
    </div>
    <nav>
        <div><a href="/">HOME</a></div>
        <div id="glitches"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="festival">UPCOMING</a></div>
        <div id="glitches"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="field">THE FIELD</a></div>
        <div id="glitches"><img src="/Sources/Img/glitch.png"></div>
        <div><a href="contact">CONTACT</a></div>

    </nav>

    @RenderBody()

    <footer>
        <div><a href="FAQ">FAQ</a></div>
        <div><a href="festival">Line-up</a></div>
        <div><a href="contact">Contact us</a></div>
    </footer>
</body>

</html>