.main {
  font-family: 'Montserrat';
  font-size: 200%;
  color: white;
  padding: 0 5% 2% 5%;
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-size: 100%;
  color: white;
  padding: 5% 3% 0.8% 3%;
  text-align: center;
  text-decoration: overline;
}

p {
  margin-bottom: 0;
}

input[type="text"], input[type="password"] {
  width: 30%;
  padding: 0.8%;
  background-color: #e579ed;
  border-color: #e579ed;
  color: white;
  font-size: 70%;
  transition: all 900ms ease;
  margin-bottom: 2%;
}

input[type="text"]:focus, input[type="password"]:focus {
  background-color: #c063c7;
  border-color: #c063c7;
}

a[target='reg'] {
  color: white;
}

a[target='pass'] {
  color: white;
  font-size: 50%;
}

input[type="submit"] {
  width: 10%;
  padding: 0.8%;
  background-color: #e579ed;
  border-color: #e579ed;
  color: white;
  font-size: 70%;
  transition: all 300ms ease;
  margin-bottom: 0;
}

input[type="submit"]:hover {
  background-color: #c063c7;
  border-color: #c063c7;
}