.main {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: white;
}

a[target="FAQ"] {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 20% 20% 20% 8%;
}

h1 {
    font-family: 'Fredoka One';
    font-size: 300%;
    color: white;
    padding: 5% 3% 2% 3%;
    text-align: center;
    text-decoration: overline;
}
