.page a {
    color: white;
}

    .page a:hover {
        text-decoration: none;
        opacity: 1;
    }

.page {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
    padding: 0% 5% 2% 5%;
    text-align: center;
}

.about h1 {
    font-family: 'Fredoka One';
    font-size: 300%;
    padding: 3% 3% 0% 2%;
    text-decoration: overline;
}


.recap {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
    padding: 0% 5% 2% 5%;
    text-align: center;

}

.recap h1 {
    font-family: 'Fredoka One';
    font-size: 300%;
    padding: 3% 3% 0% 3%;
    text-decoration: overline;
}

.recap h2 {
    font-family: 'Fredoka One';
    font-size: 150%;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

iframe{
    min-height: 50vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.aftemoviedescription {
    height: 100%;
    width: 100%;
}

