.bg {
    height: 50%;
    background-image: url("/Sources/Img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.9;
    margin: 4% 0% 0 0%;
}

.introduction {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Sources/Img/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;   
}

.introduction h1 {
    font-family: 'Fredoka One';
    font-size: 600%;
    padding: 5% 3% 2% 3%;
    text-align: center;
    text-decoration: overline;
    color: white;
}

.introduction p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 100%;
}


.news {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0 5% 2% 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.news h1 {
    font-family: 'Fredoka One';
    font-size: 300%;
    padding: 5% 3% 2% 3%;
    text-align: center;
    text-decoration: overline;
}

a[target="more-news"] {
    opacity: 1;
    padding: 0.8% 2% 0.8% 2%;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}

a[target="fest"] {
    opacity: 1;
    padding: 0.8% 2% 0.8% 2%;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
    width: 100%;
}

.button-news {
    background-color: #e579ed;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 5%;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    max-width: 20%;
}

.festivals {
    width: 10%;
    margin: 0, 2%, 0, 2%;
    display: flex;
    flex-direction: row;
}

h3[target="Spring"] {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(/Sources/Img/springbreak.jpg);
    padding: 10% 0 10% 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

h3[target="summer"] {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(/Sources/Img/summerfest.jpg);
    padding: 10% 0 10% 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

h3:hover {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.button-news:hover {
    box-shadow: 4px 8px 6px rgba(0,0,0,0.3);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
