using System;
.title {
    font-family: 'Fredoka One';
    font-size: 300%;
    color: white;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3% 3% 0% 2%;
}
/* The alert message box */
.covid {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebutton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebutton:hover {
        color: black;
    }

