@section style{
    <link href="/css/aboutus.css" type="text/css" rel="stylesheet" />
}

<h1>About us</h1>

<div class="abouttext">
    <p>Text talking about the founders of the page, Robert Dilber and Ramez Karius. We don't have text yet, so that's why we're using Lorem Ipum for now.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor mauris, condimentum ut quam et, ultrices aliquet leo. Maecenas euismod mattis dictum. Curabitur eget est vitae ante tempor tristique id eu velit. Etiam ut suscipit dolor. Mauris sapien felis, dapibus nec posuere id, scelerisque vitae erat. Duis eget molestie ipsum, at eleifend libero. Suspendisse potenti. Proin tincidunt tincidunt risus, sed convallis est posuere at. Curabitur aliquam nisi at consequat convallis. Mauris mattis congue tempus.
        <br /><br />
        Aliquam et nulla varius, interdum leo id, iaculis felis. Donec tempus nulla ante, sagittis ullamcorper est dignissim eu. Etiam urna ante, blandit quis congue vel, consectetur sit amet ligula. Maecenas sit amet justo ullamcorper, imperdiet odio at, posuere neque. Phasellus vel consequat tellus. Vestibulum ullamcorper nunc sit amet nisi lacinia sollicitudin. Duis at augue venenatis, facilisis ligula ac, condimentum tellus. Suspendisse nunc velit, consequat eu euismod in, mattis ut nisl.
        <br /><br />
        Fusce mollis facilisis nunc sit amet dignissim. In auctor augue non elit ultricies sollicitudin. Cras dictum dapibus malesuada. Curabitur ac purus sed dolor ullamcorper luctus a at lectus. Vivamus sit amet ex ut ex ultricies pharetra eget at purus. Curabitur feugiat varius nibh vel consequat. Proin non urna sit amet orci interdum elementum. Aenean nec orci nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut dictum nunc. Proin sed aliquet sem. Donec ultricies vel justo at tempus. Sed ac nisl neque.
        <br /><br />
        Aenean ullamcorper orci turpis, sed auctor purus volutpat sit amet. Suspendisse auctor est magna, non fermentum mi semper a. Curabitur ultricies ultricies ex at mollis. Sed accumsan fringilla metus, ut condimentum nisl commodo sed. Cras id dolor imperdiet, scelerisque quam sed, eleifend ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Mauris sit amet nisl posuere, aliquet massa eget, semper massa. Praesent finibus porta neque, vel accumsan tellus pellentesque et. Phasellus congue purus dapibus justo viverra venenatis. Quisque non magna ante. Phasellus ac luctus neque, quis porta dolor. Etiam sollicitudin egestas risus a scelerisque. Aliquam tempus mi justo. Mauris erat odio, sollicitudin id ante et, consectetur accumsan mi. Proin ultrices suscipit ullamcorper.
        <br /><br />
        Proin egestas magna in arcu fringilla fringilla. Vivamus viverra interdum auctor. Sed non nunc id libero condimentum sagittis. Proin congue velit augue, at tempor felis varius non. Phasellus ex dolor, vulputate vitae blandit nec, vulputate eget velit. Curabitur urna metus, maximus at hendrerit vel, consequat id augue. Donec nec ante turpis. Suspendisse ultricies rhoncus auctor. Vestibulum est justo, eleifend at viverra vitae, dapibus porttitor tellus. Curabitur lacus est, mattis vel mattis vitae, dapibus eu metus. Nulla suscipit elit sit amet interdum congue. Fusce eu leo libero. Praesent quis sem volutpat, suscipit tellus in, pellentesque dolor. Proin posuere, nunc sed maximus volutpat, sapien dolor commodo mi, ut auctor ligula nulla nec augue. Vestibulum eu aliquet mauris, in vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br /><br />
    </p>
</div>
