@section style{
    <link href="/css/aboutus.css" type="text/css" rel="stylesheet" />
}

<h1>About us</h1>

<div class="abouttext">
    <p>We are Robert Dilber and Ramez Karius. We have built this website, and we are proud of it. It's made with blood, sweat and tears, but it was all worth it.</p>
    <div class="flexbox">
        <div class="Robbie">
            <div class="developerpic">
                <img src="~/Sources/Img/about/Robbie.jpg" />
            </div>
            <div class="developertext">
                <ul>
                    <li>
                        <h2>Robert Dilber</h2>
                    </li>
                    <li>
                        <h4>Chief Executive Officer, Senior Software Architext</h4>
                    </li>
                    <li>
                        <h4>Student bilingual VWO at Sint-Maartenscollege Voorburg</h4>
                    </li>
                    <li>
                        <a href="https://github.com/optimusrobertus" target="_blank"><i class="fa fa-github"></i> Link to Github</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Rammie">
            <div class="developerpic">
                <img src="~/Sources/Img/about/Rammie.png" />
            </div>
            <div class="developertext">
                <ul>
                    <li>
                        <h2>Ramez Karius</h2>
                    </li>
                    <li>
                        <h4>Chief Executive Officer, Senior Product Manager</h4>
                    </li>
                    <li>
                        <h4>Student bilingual VWO at Sint-Maartenscollege Voorburg</h4>
                    </li>
                    <li>
                        <a href="https://github.com/Ralepel" target="_blank"><i class="fa fa-github"></i> Link to Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <br />
