@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "Frequently Asked Questions"; }


<div class="main">
    <h1>Frequently Asked Questions:</h1>
    <a target="FAQ" href="#">Where can I buy my tickets?</a><br><br>
    <a target="FAQ" href="#">Where can I sign up as an artist?</a><br><br>
    <a target="FAQ" href="#">Are lockers available on the field?</a><br><br>
    <a target="FAQ" href="#">Can I refund my ticket?</a><br><br>
    <a target="FAQ" href="#">Is there a First Aid service?</a><br><br>
    <a target="FAQ" href="#">Is there a parking lot?</a><br><br>
    <a target="FAQ" href="#">Can I recommend artists?</a><br><br>
    <a target="FAQ" href="#">Why can I only buy 2 tickets at the time?</a><br><br>
    <a target="FAQ" href="#">Is there a lost and found service?</a><br><br>
</div>
