@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "The Field"; }

@section style{
    <link href="/css/field.css" type="text/css" rel="stylesheet" />
}

<div class="recap">
    <h1>
        Aftermovies
    </h1>
    <p>
        Here at Aggaveld, we have multiple festivals per year. Every one of them is huge and cool and amazing, <br />
        but why take our word for it, when you can watch the aftermovies of some of the most visited festivals on Aggaveld?
    </p>

    <main class="main">
        
        <section class="left section">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nBBaHKQHxiU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        
        <section class="right section">
            <h2>Tomorrowland Around The World</h2>
            <p>This was one of the most highly anticapted festivals of the century: Tomorrowland Around The World.</p>
            
        </section>
        
    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/nNe4RUHpLWI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3fxuIcIpZQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MzO8h7MqEVw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p></p>*@
    </main>

</div>

