@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "The Field"; }

<div class="recap">
    <h1>Aftermovies:</h1>
    <video src="land.mp4" autoplay muted loop>
    </video>

</div>

