@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "Home Page"; }

<div class="introduction">
    <h1>
        Welcome to Aggaveld
    </h1>
    <p>
        Place introductory text here. For now, let's go Lorem Ipsum: <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tellus vel magna efficitur bibendum. Sed et cursus augue. Fusce in interdum enim, in suscipit quam. Curabitur imperdiet mi eros, in sagittis velit suscipit sed. Vestibulum tortor justo, consectetur ut purus a, semper tempor eros. Suspendisse commodo sagittis tortor a sollicitudin. Aliquam ac leo mattis, vulputate sapien cursus, iaculis justo. In hac habitasse platea dictumst. Morbi molestie mi arcu, consectetur posuere lacus pellentesque at. Nullam ut nisi accumsan, bibendum leo sed, pretium lectus. Nulla vel blandit dolor, id finibus elit.
        <br />
        Praesent in diam arcu. Etiam odio sem, semper et tortor nec, vulputate consectetur nisl. Donec at fermentum urna. Nunc euismod ipsum vitae suscipit aliquet. Aenean sit amet dolor nec leo sodales egestas nec vitae elit. Vestibulum convallis at tortor quis scelerisque. Phasellus id lorem id mi mollis commodo. Vestibulum id cursus nibh. Etiam diam magna, luctus quis quam a, varius vehicula orci. Proin iaculis lacinia porttitor. Ut tincidunt, nunc ac sollicitudin consectetur, elit risus pulvinar metus, eget dictum magna nisl sit amet ante. Duis vel nunc eu sapien imperdiet malesuada in id ligula. Cras et lectus sapien. Quisque condimentum viverra nisi id vestibulum. Donec pulvinar, lectus ut mollis lacinia, felis mauris tempus magna, eu pretium nisl nunc at lacus.
        <br />
    </p>
</div>

<div class="news">
    <h1 target="news">LATEST NEWS</h1>
    @foreach (Festival f in Model)
    {
        <p>@f.Naam</p>
        <img class="bg" src="@f.Img" />
    }
    <p>
        SUMMERBLAST 2020 is now confirmed! Get your tickets now at our <a href="#" style="color:white;">ticket page!</a><br><br>
        SPRINGBREAK FESTIVAL is SOLD OUT! Tickets for SPRINGBREAK FESTIVAL 2021 will soon be for sale!
    </p>
    <a target="fest" href="#">
        <h3 target="Spring">Springbreak festival</h3>
        <h3 target="summer">Summer festival</h3>
    </a>
    <a href="festival" class="button-news" target="more-news">More festivals</a>
</div> 