@using SchoolTemplate.Database;
@model List<Product>
@{ ViewData["Title"] = "Home Page"; }

    <div class="news">
        <img class="bg" src="~/Sources/Img/aggaveld.png" />
        <h1 target="news">LATEST NEWS</h1>
        <p>
            SUMMERBLAST 2020 is now confirmed! Get your tickets now at our <a href="#" style="color:white;">ticket page!</a><br><br>
            SPRINGBREAK FESTIVAL is SOLD OUT! Tickets for SPRINGBREAK FESTIVAL 2021 will soon be for sale!
        </p>
        <a target="fest" href="#">
            <h3 target="Spring">Springbreak festival</h3>
            <h3 target="summer">Summer festival</h3>
        </a>
                <a href="#" class="button-news" target="news">more news</a>
    </div> 