@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "Home Page"; }

<div class="introduction">
    <h1>
        Welcome to Aggaveld
    </h1>

    <p>
        Welcome to Aggaveld. Aggaveld is the biggest festival field of Europe, and we, Robert Dilber and Ramez Karius, are its proud owners.
    </p>
</div>

<div class="news">
    <h1 target="news">LATEST NEWS</h1>
    @foreach (Festival f in Model)
    {
        <p>@f.Naam</p>
        <img class="bg" src="@f.Img" />
    }
    <p>
        SUMMERBLAST 2020 is now confirmed! Get your tickets now at our <a href="#" style="color:white;">ticket page!</a><br><br>
        SPRINGBREAK FESTIVAL is SOLD OUT! Tickets for SPRINGBREAK FESTIVAL 2021 will soon be for sale!
    </p>
    <a target="fest" href="#">
        <h3 target="Spring">Springbreak festival</h3>
        <h3 target="summer">Summer festival</h3>
    </a>
    <a href="festival" class="button-news" target="more-news">More festivals</a>
</div> 