
@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "Home Page"; }

<div class="introduction">
    <h1>
        Welcome to Aggaveld
    </h1>

    <p>
        Welcome to the biggest festival field of Europe: Aggaveld! <br />
        At Aggaveld, we host a variety of different festivals every year. We have something for everyone. 
    </p>
</div>

<div class="news">
    <h1 target="news">LATEST NEWS</h1>
    <div class="covid">
        <span class="closebutton" onclick="this.parentElement.style.display = 'none';">&times;</span>
        <b>Take notice!</b> Because of the Covid-19 outbreak, some festivals have been delayed or permanently cancelled!
    </div>

    @foreach (Festival f in Model)
    {
        <div class="upcomingfestivals">
            <img class="festival-cover" src="@f.Img" />
            <div class="lcolumn">
                <h2>@f.Naam</h2>
                <p class="description">@f.Beschrijving</p>
                <a class="detailpage" href="festivals/@f.Id">Read more...</a>
            </div>
        </div>
        <br />
    }
</div> 