@using SchoolTemplate.Database

@section style{
    <link href="/css/succes.css" type="text/css" rel="stylesheet" />
}

<h1>
    Thank you!
</h1>

<p>
    We'll get back to you as soon as possible!
</p>

<div class="thankyou">
    <img src="~/Sources/Img/thankyou.gif" />
</div>
